.container {
  padding: 0 2rem;
}

.main {
  margin: 0 auto;
  min-height: 100vh;
  padding: 4rem 0;
  text-align: left;
  width: 100%;
  max-width: 1200px;
}

.background-image {
  background-image: url('/public/earth_genasi.png')
}

.hero {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.img {
  width: 100%;
}

.newEntry {
  width: 100%;
}